env_real/data/

env_real/outputs/

env_real/history/

env_synthetic/data/

env_synthetic/outputs/

env_synthetic/history/

*.log

__pycache__/
*.pyc

venv/
.venv/
env/

.env

.idea/
.vscode/

.DS_Store
Thumbs.db